registry=http://tcmtfs.bise.financialsolutions.se:8080/tfs/tcm/_packaging/TCMUI20/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 06/06/2019.
; begin auth token
//tcmtfs.bise.financialsolutions.se:8080/tfs/tcm/_packaging/TCMUI20/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Inh4Nk5EUmEtNm5OQkVHMDB2Tk1seFVKMHRTWSJ9.eyJuYW1laWQiOiI1OGY4OTMwNi1lMzYxLTQ3ODMtYWQ3MC0wNGRkN2U1NTc4MjEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNWQwM2YyYjEtNDUyOC00YmUxLTljOTMtOThmMGJjZDdmYjAyIiwic2lkIjoiMjBmOTZhYzAtMzk4OS00NjI4LWJiYzMtOTg1MDU4Y2UyY2JmIiwiaXNzIjoidGNtdGZzLmJpc2UuZmluYW5jaWFsc29sdXRpb25zLnNlIiwiYXVkIjoidGNtdGZzLmJpc2UuZmluYW5jaWFsc29sdXRpb25zLnNlIiwibmJmIjoxNTUyMDI5MjQ0LCJleHAiOjE1NTk4MDUyNDN9.f0fIphjTJG31UQ9Wbnuj58_HyR832GK6X4Apv1tGMPEoMQyHAx6wsOt88cfSlPc6nYB11tUSpQTxwz7TCveriX9-idzSe2Oce8l-pitfjDBOL5oMpC2pfLot0kjRIGroCz4XcIMelxr_bBSbwSU5zs5BBRisaJJFjCbW4yr1lbP5rDXYz87JByQxb1pv8YCFOK4vrZegcvBasu95uwfsBPPHakF65mGdkSXANg2WSIKFRaDJMqz8CUwzVQCbvivbPpfPi__JZZXaGlRGArZSYJvNSXJCPrluiGtjlcuHIuxP0kEYPh1ZgQZFJl5HVHA6HckAc0-WPwbM6AjpA64uQQ
//tcmtfs.bise.financialsolutions.se:8080/tfs/tcm/_packaging/TCMUI20/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Inh4Nk5EUmEtNm5OQkVHMDB2Tk1seFVKMHRTWSJ9.eyJuYW1laWQiOiI1OGY4OTMwNi1lMzYxLTQ3ODMtYWQ3MC0wNGRkN2U1NTc4MjEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNWQwM2YyYjEtNDUyOC00YmUxLTljOTMtOThmMGJjZDdmYjAyIiwic2lkIjoiMjBmOTZhYzAtMzk4OS00NjI4LWJiYzMtOTg1MDU4Y2UyY2JmIiwiaXNzIjoidGNtdGZzLmJpc2UuZmluYW5jaWFsc29sdXRpb25zLnNlIiwiYXVkIjoidGNtdGZzLmJpc2UuZmluYW5jaWFsc29sdXRpb25zLnNlIiwibmJmIjoxNTUyMDI5MjQ0LCJleHAiOjE1NTk4MDUyNDN9.f0fIphjTJG31UQ9Wbnuj58_HyR832GK6X4Apv1tGMPEoMQyHAx6wsOt88cfSlPc6nYB11tUSpQTxwz7TCveriX9-idzSe2Oce8l-pitfjDBOL5oMpC2pfLot0kjRIGroCz4XcIMelxr_bBSbwSU5zs5BBRisaJJFjCbW4yr1lbP5rDXYz87JByQxb1pv8YCFOK4vrZegcvBasu95uwfsBPPHakF65mGdkSXANg2WSIKFRaDJMqz8CUwzVQCbvivbPpfPi__JZZXaGlRGArZSYJvNSXJCPrluiGtjlcuHIuxP0kEYPh1ZgQZFJl5HVHA6HckAc0-WPwbM6AjpA64uQQ
; end auth token