<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<!--We need a urlRewrite module for Angular routing to work. Install from 
https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/using-the-url-rewrite-module -->

<configuration>
  <system.web>
    <!--Make sure Windows Authetication is enabled & anonymouse disabled-->
    <authentication mode="Windows" />
    <authorization>
      <allow verbs="OPTIONS" users="*" />
      <allow users="*" />
    </authorization>
  </system.web>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="false"/>
      </authentication>
    </security>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
          <!--<action type="Rewrite" url="/" />-->
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
